* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 175%;
}

section {
	border: 1px solid black;
	background-color: #dadada;
}

p {
	padding: 5px;
}

/********** Large devices min 992px **********/
@media (min-width: 992px) {.col-lg-4 {
	float: left;
}
.col-lg-4 {
	width:	33.33%;
}
}
/********** Tablet devices between 768 and 991px **********/
@media (min-width: 768px) and (max-width: 991px) {.col-md-6, .col-md-12 {
	float: left;
}
.col-md-6 {
	width:	50%;
}
.col-md-12 {
	width:	100%;
}
}
/********** Mobile devices max 767px **********/
@media (max-width: 767px) {.col-sm-12 {
	float: left;
}
.col-sm-12 {
	width:	100%;
}
}